:root {
  // Brand colors
  --color-primary: #446a46;
  --color-secondary: #fd5d5d;

  // UI colors
  // #141414
  --color-bg: #fff;
  --color-bg-card: #fff;
  --color-border: #ccc;
  --color-black: #000;
  --color-skeleton: #dedede;

  // Text colors
  --color-text-heading: #333;
  --color-text-subtitle: #5a5a5a;
  --color-text-label: #4d4d4d;

  // State colors
  --color-default: #409eff;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-error: #f56c6c;
  --color-info: #909399;

  // ckeditor style
  --ck-color-base-foreground: var(--color-bg);
  --ck-color-base-background: var(--color-bg);
  --ck-color-base-text: var(--color-text-heading);
}

// System light mode
@media (prefers-color-scheme: light) {
  :root {
    // Brand colors
    --color-primary: #446a46;
    --color-secondary: #fd5d5d;

    // UI colors
    // #141414
    --color-bg: #fff;
    --color-bg-card: #fff;
    --color-border: #ccc;
    --color-black: #000;
    --color-skeleton: #dedede;

    // Text colors
    --color-text-heading: #333;
    --color-text-subtitle: #5a5a5a;
    --color-text-label: #4d4d4d;

    // State colors
    --color-default: #409eff;
    --color-success: #67c23a;
    --color-warning: #e6a23c;
    --color-error: #f56c6c;
    --color-info: #909399;
  }
}

html.dark {
  // Brand colors
  --color-primary: #446a46;
  --color-secondary: #fd5d5d;

  // UI colors
  // #141414
  --color-bg: #141414;
  --color-bg-card: #2a2929;
  --color-border: #3a3a3a;
  --color-black: #fff;
  --color-skeleton: #2a2929;

  // Text colors
  --color-text-heading: #fff;
  --color-text-subtitle: #b3b3b3;
  --color-text-label: #aaaaaa;

  // State colors
  --color-default: #409eff;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-error: #f56c6c;
  --color-info: #909399;

  // ckeditor style
  --ck-color-base-foreground: var(--color-bg);
  --ck-color-base-background: var(--color-bg);
  --ck-color-base-text: var(--color-text-heading);

  .modal {
    background-color: rgba($color: #fff, $alpha: 0.5) !important;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  // transition: 0.18s linear;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  // outline: 1px solid;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: $sans;
  scroll-behavior: smooth;
  background-color: var(--color-bg);

  --scroll-padding: 79px;
  // customising the scrollbar for firefox
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  scroll-padding-top: var(--scroll-padding, 79px);

  @include mobile {
    --scroll-padding: 75px;
    scroll-padding-top: var(--scroll-padding, 76px);
  }

  // Customising the scrollbar for chrome and other webkit browsers
  &::-webkit-scrollbar {
    width: 0.4vw;
    cursor: pointer;

    @include mobile {
      width: 5px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
  }
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.blog-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;

  @include desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }
  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
}

.ck.ck-editor__main > .ck-editor__editable {
  color: var(--color-text-heading);
  min-height: 300px;
  height: 100%;
  max-height: 600px;
}
