// Font family
$sans: "DM Sans", sans-serif;
$serif: "Noto Serif Display", serif;
$dm-serif: "DM Serif Display", serif;

// Color
$color-primary: #446a46;
$color-secondary: #fd5d5d;
$color-white: #fff;
$color-border: #ccc;
$color-text-heading: #333;
$color-text-subtitle: #5a5a5a;

// State colors
$color-default: #409eff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-error: #f56c6c;
$color-info: #909399;
