// Font family
$sans: "DM Sans", sans-serif;
$serif: "Noto Serif Display", serif;
$dm-serif: "DM Serif Display", serif;

// Color
$color-primary: #446a46;
$color-secondary: #fd5d5d;
$color-white: #fff;
$color-border: #ccc;
$color-text-heading: #333;
$color-text-subtitle: #5a5a5a;
