// Font family
$sans: "DM Sans", sans-serif;
$serif: "Noto Serif Display", serif;
$dm-serif: "DM Serif Display", serif;

// Color
$color-primary: #446a46;
$color-secondary: #fd5d5d;
$color-white: #fff;
